<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<springProperty name="app-name" source="spring.application.name"/>
<springProperty name="profile" source="spring.profiles.active"/>


		<appender name="system-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>application.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>application.%d{yyyy-MM-dd}.%i.log
				</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>500MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>
			<encoder class="net.logstash.logback.encoder.LogstashEncoder">
				<customFields>{"application":"${app-name}","spring-profile":"${profile}"}</customFields>
			</encoder>
		</appender>

		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
				</Pattern>
			</layout>
		</appender>

		<root level="DEBUG">
			<appender-ref ref="system-file"/>
			<appender-ref ref="STDOUT"/>
		</root>

	

</configuration>